{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
{% block filterform %}
{% endblock %}
 <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th colspan="2" style="text-align:center;">Request details</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><b> Request ID </b></td><td>{{ req.id }}</td>
      </tr>
      <tr>
        <td><b> District : </b></td><td>{{ req.get_district_display }}</td>
      </tr>
      <tr>
        <td><b> Location : </b></td><td>{{ req.location }}</td>
      </tr>
      <tr>
        <td><b> GPS Location : </b></td>
        <td>
          {% if not req.is_request_for_others and req.latlng %}
            <a class="btn btn-sm btn-success" href="https://maps.google.com/?q={{ req.latlng }}" target="_blank">Open in maps</a>
            <br>
            Accuracy: {{ req.latlng_accuracy }}
          {% else %}
            NA
          {% endif %}
        </td>
      </tr>
      <tr>
        <td><b> Requestee : </b></td><td>{{ req.requestee }}</td>
      </tr>
      <tr>
        <td><b> Contact number : </b></td><td><a href="tel:{{ req.requestee_phone }}" >{{ req.requestee_phone }}</a></td>
      </tr>
      <tr>
        <td><b> Summary of request : </b></td><td>{{ req.summarise | linebreaks }}</td>
      </tr>
      <tr>
        <td><b> Date : </b></td><td>{{ req.dateadded }}</td>
      </tr>
      <tr>
        <td><b> Status </b></td><td>{{ req.status }} <a class="btn btn-sm btn-success" href="/request_update?request_id={{ req.id }}">Edit</a></td>
      </tr>
    </tbody>
  </table>

</div>
{% block updateform %}
{% endblock %}
{% block updatedetails %}
{% endblock %}
{% endblock %}
